Repository dimagi/dimagi-qa, pull requests merged in 2022-10, with the labels that each got.

#155 Data Forwarding testcase removed
  RequestAPI/testCases/test_10_misc.py
  RequestAPI/testCases/test_11_curl_apis.py
Labels: api, Global Tech

#157 QA-4594 made changes to 2FA workflows
  .github/workflows/sprint-app-perf.yml
  AppSprintPerformanceTests/CICT/CaptureReadings/conftest.py
  AppSprintPerformanceTests/CICT/requires.txt
  AppSprintPerformanceTests/CICT/settings-sample.cfg
  HQSmokeTests/testCases/test_01_others.py
  common_utilities/hq_login/login_page.py
Labels: USH

#158 Updated email recipients for request API
  .github/workflows/request_api.yml
Labels: api, Global Tech

#159 HQ SmokeTest script fixes
  HQSmokeTests/testPages/android/android_screen.py
  HQSmokeTests/testPages/data/auto_case_update_page.py
  HQSmokeTests/testPages/users/org_structure_page.py
  common_utilities/selenium/base_page.py
Labels: script error fix/bug, mobile, smoke, commcare hq, Global Tech

#160 added method to delete all test rules created by scripts
  HQSmokeTests/testCases/test_06_data.py
  HQSmokeTests/testPages/data/auto_case_update_page.py
  HQSmokeTests/testPages/data/export_data_page.py
  HQSmokeTests/testPages/data/import_cases_page.py
  common_utilities/selenium/base_page.py
Labels: script error fix/bug, smoke, commcare hq, Global Tech
