Repository dimagi/dimagi-qa, pull requests merged in 2022-07, with the labels that each got.

#120 NY scripts after every prod deployment
  .github/workflows/robot-framework.yml
Labels: enhancement, web apps

#121 changed condition for ny script prod trigger
  .github/workflows/robot-framework.yml
Labels: enhancement

#122 Updated Android Build on Browserstack
  HQSmokeTests/testPages/android/android_screen.py
  HQSmokeTests/userInputs/user_inputs.py
Labels: mobile, smoke, commcare hq, Script Fix

#123 add job name with environment
  .github/workflows/python-app.yml
Labels: enhancement

#124 Changes to workflows and ny cict app scripts
  .github/PULL_REQUEST_TEMPLATE/pull_request_template.md
  .github/workflows/hq-smoke-tests.yml
  .github/workflows/ny-cict-robot-framework.yml
  PULL_REQUEST_DETAILS_TEMPLATE.md
  USH_Apps/NY_CICT/Base/base.robot
  USH_Apps/NY_CICT/Case Investigation (CI)/Forms/create a new cluster form.robot
Labels: web apps, framework/workflow change, Global Tech

#125 Kb/hq workflow changes
  .github/workflows/hq-smoke-tests.yml
Labels: framework/workflow change, Global Tech

#128 First set of script fixes
  HQSmokeTests/testCases/test_02_users.py
  HQSmokeTests/testCases/test_05_roles.py
  HQSmokeTests/testPages/base/base_page.py
  HQSmokeTests/testPages/data/export_data_page.py
  HQSmokeTests/testPages/users/group_page.py
  HQSmokeTests/testPages/users/mobile_workers_page.py
  HQSmokeTests/testPages/users/roles_permissions_page.py
Labels: script error fix/bug, smoke, commcare hq, Global Tech

#129 Fixed test_case_10_download_and_upload_users
  HQSmokeTests/testCases/test_02_users.py
  HQSmokeTests/testPages/users/group_page.py
Labels: script error fix/bug, smoke, commcare hq, Global Tech

#130 fix for test_case_37_form_xml_download_upload
  HQSmokeTests/testPages/applications/application_page.py
  HQSmokeTests/testPages/data/export_data_page.py
  HQSmokeTests/testPages/users/org_structure_page.py
Labels: script error fix/bug, smoke, Global Tech

#132 Fixed failure of test_case_58_deduplicate_cases
  HQSmokeTests/testPages/data/deduplicate_case_page.py
Labels: script error fix/bug, smoke, Global Tech

#133 Addressing HQ script failures
  HQSmokeTests/testCases/test_04_locations.py
  HQSmokeTests/testPages/users/mobile_workers_page.py
  HQSmokeTests/testPages/users/org_structure_page.py
Labels: script error fix/bug, smoke, commcare hq, Global Tech

#134 Fix for Form Export test failure
  HQSmokeTests/testPages/data/export_data_page.py
Labels: script error fix/bug, smoke, Global Tech

#136 Fix for Reassgin cases test failure
  HQSmokeTests/testPages/data/reassign_cases_page.py
  HQSmokeTests/testPages/users/org_structure_page.py
Labels: script error fix/bug, smoke, Global Tech

#135 Fixes to export, reassign cases and archive locations failures
  HQSmokeTests/testPages/data/export_data_page.py
  HQSmokeTests/testPages/data/reassign_cases_page.py
  HQSmokeTests/testPages/users/org_structure_page.py
Labels: script error fix/bug, smoke, Global Tech

#138 added tags in all testcases and added new column in the report.html t…
  .github/workflows/hq-smoke-tests.yml
  HQSmokeTests/testCases/conftest.py
  HQSmokeTests/testCases/test_01_others.py
  HQSmokeTests/testCases/test_02_users.py
  HQSmokeTests/testCases/test_03_exports.py
  HQSmokeTests/testCases/test_04_integration_exports.py
  HQSmokeTests/testCases/test_04_locations.py
  HQSmokeTests/testCases/test_05_roles.py
  HQSmokeTests/testCases/test_06_data.py
  HQSmokeTests/testCases/test_07_applications.py
  HQSmokeTests/testCases/test_08_reports.py
  HQSmokeTests/testCases/test_09_messaging.py
  HQSmokeTests/utilities/__init__.py
  HQSmokeTests/utilities/email_conf.py
  HQSmokeTests/utilities/email_pytest_report.py
Labels: script error fix/bug, new change/enhancement, smoke, commcare hq, Global Tech
