Repository dimagi/dimagi-qa, pull requests merged in 2022-12, with the labels that each got.

#173 Case Search Tests
  .github/workflows/case-search-tests.yml
  .gitignore
  Features/CaseSearch/README.md
  Features/CaseSearch/__init__.py
  Features/CaseSearch/constants.py
  Features/CaseSearch/requires.txt
  Features/CaseSearch/settings-sample.cfg
  Features/CaseSearch/test_cases/__init__.py
  Features/CaseSearch/test_cases/conftest.py
  Features/CaseSearch/test_cases/test_01_casesearch_workflows.py
  Features/CaseSearch/test_cases/test_02_casesearch_configs.py
  Features/CaseSearch/test_cases/test_03_casesearch_misc.py
  Features/CaseSearch/test_cases/test_04_casesearch_fuzzy_search.py
  Features/CaseSearch/test_cases/test_05_casesearch_inline_search.py
  Features/CaseSearch/test_pages/__init__.py
  Features/CaseSearch/test_pages/casesearch_page.py
  Features/CaseSearch/user_inputs/__init__.py
  Features/CaseSearch/user_inputs/casesearch_user_inputs.py
  Features/__init__.py
  HQSmokeTests/testCases/test_07_applications.py
  HQSmokeTests/testPages/home/home_page.py
  HQSmokeTests/testPages/users/mobile_workers_page.py
  README.md
  common_utilities/mail_templates/__init__.py
  common_utilities/mail_templates/email_fail.md
  common_utilities/mail_templates/email_pass.md
  common_utilities/selenium/base_page.py
  common_utilities/selenium/webapps.py
Labels: web apps, USH

#176 Removed duplicate mail templates and referenced to the common one
  .github/workflows/hq-smoke-tests.yml
  HQSmokeTests/email_fail.md
  HQSmokeTests/email_pass.md
Labels: commcare hq, framework/workflow change

#178 QA-4576 removed xfail marks
  HQSmokeTests/testCases/test_04_locations.py
  HQSmokeTests/testCases/test_06_data.py
  HQSmokeTests/testCases/test_07_applications.py
  HQSmokeTests/testPages/users/org_structure_page.py
Labels: script error fix/bug, smoke, commcare hq, app preview, Global Tech

#169 Added lookuptable testcases
  .github/workflows/lookup-table.yml
  .gitignore
  Features/Lookuptable/README.md
  Features/Lookuptable/__init__.py
  Features/Lookuptable/requires.txt
  Features/Lookuptable/settings-sample.cfg
  Features/Lookuptable/testCases/__init__.py
  Features/Lookuptable/testCases/conftest.py
  Features/Lookuptable/testCases/test_download_update.py
  Features/Lookuptable/testCases/test_lookuptable_creation.py
  Features/Lookuptable/testCases/test_upload.py
  Features/Lookuptable/testPages/__init__.py
  Features/Lookuptable/testPages/data/__init__.py
  Features/Lookuptable/testPages/data/export_data_page.py
  Features/Lookuptable/testPages/data/lookup_table_page.py
  Features/Lookuptable/userInputs/Hypertension.xlsx
  Features/Lookuptable/userInputs/MalformedDocument.xlsx
  Features/Lookuptable/userInputs/__init__.py
  Features/Lookuptable/userInputs/upload_1.xlsx
  Features/Lookuptable/userInputs/user_inputs.py
  __init__.py
  common_utilities/Excel/__init__.py
  common_utilities/Excel/excel_manage.py
  common_utilities/generate_random_string.py
Labels: new change/enhancement, commcare hq, Global Tech

#179 Minor updates to case search scripts
  .github/workflows/case-search-tests.yml
  Features/CaseSearch/requires.txt
Labels: framework/workflow change

#181 Updated case search ci
  .github/workflows/case-search-tests.yml
Labels: framework/workflow change, case search

#183 QA-4576 updated app url for android test case
  HQSmokeTests/testPages/android/android_screen.py
Labels: script error fix/bug, smoke, commcare hq, Global Tech

#184 Fixed failing test cases for case search
  Features/CaseSearch/requires.txt
  Features/CaseSearch/test_cases/test_01_casesearch_workflows.py
  Features/CaseSearch/test_cases/test_02_casesearch_configs.py
  Features/CaseSearch/test_cases/test_03_casesearch_misc.py
  Features/CaseSearch/test_cases/test_04_casesearch_fuzzy_search.py
  Features/CaseSearch/test_cases/test_05_casesearch_inline_search.py
  Features/CaseSearch/test_pages/casesearch_page.py
  Features/CaseSearch/user_inputs/casesearch_user_inputs.py
  HQSmokeTests/testPages/users/mobile_workers_page.py
  common_utilities/selenium/webapps.py
Labels: USH, case search

#186 Update webapps.py
  common_utilities/selenium/webapps.py
Labels: USH, case search
