Repository dimagi/dimagi-qa, pull requests merged in 2022-11, with the labels that each got.

#164 QA-4576 updated a few steps to fix export download and rule deletion
  .github/workflows/request_api.yml
  HQSmokeTests/testPages/data/auto_case_update_page.py
  HQSmokeTests/testPages/data/export_data_page.py
Labels: script error fix/bug, smoke, commcare hq, Global Tech

#165 QA-4576 added new domain and fixed test_case_30 failure for Request API testcases
  HQSmokeTests/testPages/home/home_page.py
  RequestAPI/testCases/test_09_fixtures.py
  RequestAPI/userInputs/user_inputs.py
Labels: script error fix/bug, api, smoke, commcare hq, Global Tech

#166 fix for testcase 15_16 and 38
  HQSmokeTests/testCases/test_06_data.py
  HQSmokeTests/testCases/test_08_reports.py
  HQSmokeTests/testPages/data/manage_forms_page.py
  HQSmokeTests/testPages/home/home_page.py
  HQSmokeTests/testPages/reports/report_page.py
  HQSmokeTests/testPages/users/mobile_workers_page.py
  HQSmokeTests/testPages/webapps/web_apps_page.py
Labels: script error fix/bug, mobile, web apps, smoke, commcare hq, Global Tech

#167 QA-4576 added ULR print statement to base.py and env name to email subject in yml for Request API
  .github/workflows/request_api.yml
  RequestAPI/testMethods/base.py
Labels: script error fix/bug, api, Global Tech

#168 QA-4576 added env name to both email subject in yml for Request API
  .github/workflows/request_api.yml
Labels: script error fix/bug, api, framework/workflow change, Global Tech

#170 QA-4576 commented the xfail statement for testcase 59
  HQSmokeTests/testCases/test_01_others.py
  HQSmokeTests/testCases/test_02_users.py
  HQSmokeTests/testCases/test_04_integration_exports.py
  HQSmokeTests/testCases/test_04_locations.py
  HQSmokeTests/testCases/test_05_roles.py
  HQSmokeTests/testCases/test_06_data.py
  HQSmokeTests/testCases/test_07_applications.py
  HQSmokeTests/testCases/test_08_reports.py
  HQSmokeTests/testCases/test_09_messaging.py
  HQSmokeTests/testPages/home/home_page.py
  HQSmokeTests/testPages/users/mobile_workers_page.py
Labels: script error fix/bug, smoke, commcare hq, Global Tech

#171 Inline Case Search Test Cases
  Features/CaseSearch/test_cases/test_01_casesearch_workflows.py
  Features/CaseSearch/test_cases/test_02_casesearch_configs.py
  Features/CaseSearch/test_cases/test_03_casesearch_misc.py
  Features/CaseSearch/test_cases/test_04_casesearch_fuzzy_search.py
  Features/CaseSearch/test_cases/test_05_casesearch_inline_search.py
  Features/CaseSearch/test_pages/casesearch_page.py
  Features/CaseSearch/user_inputs/casesearch_user_inputs.py
  common_utilities/selenium/webapps.py
Labels: web apps, USH

#172 QA-4576 updated bs url for android test and updated request API workflow yml
  .github/workflows/request_api.yml
  HQSmokeTests/testPages/android/android_screen.py
Labels: script error fix/bug, mobile, api, smoke, commcare hq, framework/workflow change, Global Tech
