Repository dimagi/dimagi-qa, pull requests merged in 2022-08, with the labels that each got.

#139 fix for testcase 15,16 and 38
  HQSmokeTests/testPages/android/android_screen.py
  HQSmokeTests/testPages/webapps/web_apps_page.py
Labels: script error fix/bug, mobile, smoke, commcare hq, Global Tech

#141 Fixes for Testcase 58 and 56
  HQSmokeTests/testPages/users/org_structure_page.py
  HQSmokeTests/userInputs/user_inputs.py
Labels: script error fix/bug, smoke, commcare hq, Global Tech

#140 Script for capturing perf for multiselect
  .gitignore
  HQSmokeTests/testPages/base/base_page.py
  QA_Requests/MultiSelectPerf/__init__.py
  QA_Requests/MultiSelectPerf/conftest.py
  QA_Requests/MultiSelectPerf/generate_data_capture_readings.py
  QA_Requests/MultiSelectPerf/hq_workflows.py
  QA_Requests/MultiSelectPerf/import_data_using_api.py
  QA_Requests/MultiSelectPerf/settings-sample.cfg
  utilities/decorators.py
Labels: data generation, performance, web apps, USH

#143 updated test case tags in all the modules
  HQSmokeTests/testCases/test_01_others.py
  HQSmokeTests/testCases/test_02_users.py
  HQSmokeTests/testCases/test_03_exports.py
  HQSmokeTests/testCases/test_04_integration_exports.py
  HQSmokeTests/testCases/test_04_locations.py
  HQSmokeTests/testCases/test_05_roles.py
  HQSmokeTests/testCases/test_06_data.py
  HQSmokeTests/testCases/test_07_applications.py
  HQSmokeTests/testCases/test_08_reports.py
  HQSmokeTests/testCases/test_09_messaging.py
Labels: new change/enhancement, smoke, commcare hq, Global Tech

#144 fix for testcase_29
  HQSmokeTests/testPages/data/import_cases_page.py
  HQSmokeTests/userInputs/user_inputs.py
Labels: script error fix/bug, smoke, commcare hq, Global Tech

#146 added new workflow for checking conditional alert messaging history
  HQSmokeTests/testCases/test_09_messaging.py
  HQSmokeTests/testPages/messaging/messaging_page.py
  HQSmokeTests/testPages/reports/report_page.py
  HQSmokeTests/userInputs/user_inputs.py
  common_utilities/selenium/base_page.py
Labels: new change/enhancement, smoke, commcare hq, Global Tech

#147 corrected a spelling in the hq-smoke-tests.yml
  .github/workflows/hq-smoke-tests.yml
Labels: script error fix/bug, smoke, commcare hq, Global Tech

#148 NY app regression failure fixes
  .github/workflows/ny-cict-robot-framework.yml
  USH_Apps/NY_CICT/Base/base.robot
  USH_Apps/NY_CICT/Case Investigation (CI)/Forms/assign or reassign form.robot
  USH_Apps/NY_CICT/Case Investigation (CI)/Forms/case investigation form.robot
  USH_Apps/NY_CICT/Case Investigation (CI)/Forms/change pui status form.robot
  USH_Apps/NY_CICT/Case Investigation (CI)/Forms/close the patient record form.robot
  USH_Apps/NY_CICT/Case Investigation (CI)/Forms/create a new cluster form.robot
  USH_Apps/NY_CICT/Case Investigation (CI)/Forms/hub cases.robot
  USH_Apps/NY_CICT/Case Investigation (CI)/Forms/register a new case form.robot
  USH_Apps/NY_CICT/Case Investigation (CI)/Forms/register new contacts form.robot
  USH_Apps/NY_CICT/Case Investigation (CI)/Forms/search for duplicate patient.robot
  USH_Apps/NY_CICT/Case Investigation (CI)/Forms/view record lab results.robot
  USH_Apps/NY_CICT/Case Investigation (CI)/Menu/menu.robot
  USH_Apps/NY_CICT/Contact Tracing (CT)/Forms/assign or reaasign contact.robot
  USH_Apps/NY_CICT/Contact Tracing (CT)/Forms/change to pui status form.robot
  USH_Apps/NY_CICT/Contact Tracing (CT)/Forms/close the contact record form.robot
  USH_Apps/NY_CICT/Contact Tracing (CT)/Forms/contact montitoring form.robot
  USH_Apps/NY_CICT/Contact Tracing (CT)/Forms/hub contacts.robot
  USH_Apps/NY_CICT/Contact Tracing (CT)/Forms/register a new contact form.robot
  USH_Apps/NY_CICT/Contact Tracing (CT)/Menu/menu.robot
  USH_Apps/NY_CICT/Locators/locators.robot
  USH_Apps/NY_CICT/Tests/.pabotsuitenames-ordering
  USH_Apps/NY_CICT/Tests/01-02 Patient and Contact Good Path.robot
  USH_Apps/NY_CICT/Tests/01-Patient Good Path.robot
  USH_Apps/NY_CICT/Tests/02 Contact Good Path.robot
  USH_Apps/NY_CICT/Tests/03 Convert Contact to PUI and back to Contact.robot
  USH_Apps/NY_CICT/Tests/04 Convert PUI to Patient Dedupe Lab Results.robot
  USH_Apps/NY_CICT/Tests/05 Close Case and Contact.robot
  USH_Apps/NY_CICT/Tests/06 Reopen Case and Contact.robot
  USH_Apps/NY_CICT/Tests/07 Daily Monitoring.robot
  USH_Apps/NY_CICT/Tests/08 PUI Monitoring.robot
  USH_Apps/NY_CICT/Tests/09 Clusters.robot
  USH_Apps/NY_CICT/Tests/10 Hub Cases.robot
  USH_Apps/NY_CICT/Tests/11 Hub Contacts.robot
  USH_Apps/NY_CICT/Tests/12 Register New Contacts.robot
  USH_Apps/NY_CICT/Tests/13 Register New Contacts without Index Case.robot
  USH_Apps/NY_CICT/Utilities/user_inputs.robot
  USH_Apps/NY_CICT/requirements.txt
Labels: script error fix/bug, web apps, USH

#149 Handled concurrency for ny scripts and hq tests
  .github/workflows/hq-smoke-tests.yml
  .github/workflows/ny-cict-robot-framework.yml
Labels: framework/workflow change, Global Tech

#150 Remove redundant fixtures and move to common utilities (2/3)
  AppSprintPerformanceTests/CICT/CaptureReadings/CO_test_readings.py
  AppSprintPerformanceTests/CICT/CaptureReadings/NY_test_readings.py
  AppSprintPerformanceTests/CICT/CaptureReadings/conftest.py
  HQSmokeTests/testCases/conftest.py
  QA_Requests/BenchmarkTests/testCases/conftest.py
  QA_Requests/MultiSelectPerf/conftest.py
  QA_Requests/PerfTickets/testCases/conftest.py
  RequestAPI/testCases/conftest.py
  common_utilities/fixtures.py
Labels: framework/workflow change, Global Tech
