Repository dimagi/dimagi-qa, pull requests merged in 2022-09, with the labels that each got.

#151 [CO Perf]Additional changes to users,inputs and form name
  AppSprintPerformanceTests/CICT/CaptureReadings/CO_test_readings.py
  AppSprintPerformanceTests/CICT/CaptureReadings/NY_test_readings.py
  AppSprintPerformanceTests/CICT/UserInputs/co_cict_user_inputs.py
  AppSprintPerformanceTests/CICT/WorkflowActions/workflows/excel_actions.py
  AppSprintPerformanceTests/CICT/WorkflowActions/workflows/hq_actions.py
Labels: web apps, USH

#152 Case search workflows
  .gitignore
  Features/CaseSearch/__init__.py
  Features/CaseSearch/settings-sample.cfg
  Features/CaseSearch/test_cases/conftest.py
  Features/CaseSearch/test_cases/test_01_caseseach_workflows.py
  Features/CaseSearch/test_pages/casesearch_page.py
  Features/CaseSearch/user_inputs/__init__.py
  Features/CaseSearch/user_inputs/casesearch_user_inputs.py
  Features/__init__.py
  common_utilities/selenium/base_page.py
  common_utilities/selenium/webapps.py
Labels: web apps, USH, case search

#153 Minor updates to NY scripts
  .github/workflows/ny-cict-robot-framework.yml
  USH_Apps/NY_CICT/Base/base.robot
  USH_Apps/NY_CICT/Locators/locators.robot
Labels: web apps, USH

#154 updated browser stack app url
  HQSmokeTests/testPages/android/android_screen.py
Labels: script error fix/bug, mobile, smoke, commcare hq, Global Tech
