Repository dimagi/dimagi-qa, pull requests merged in 2023-06, with the labels that each got.

#235 [QA-5125, QA-4757, QA-4993] Added and Updated Case Search Tests
  Features/CaseSearch/test_cases/test_02_casesearch_configs.py
  Features/CaseSearch/test_cases/test_03_casesearch_misc.py
  Features/CaseSearch/test_pages/casesearch_page.py
  Features/CaseSearch/user_inputs/casesearch_user_inputs.py
Labels: USH, case search

#236 QA-5160 removed xfail
  RequestAPI/testCases/test_10_misc.py
Labels: script error fix/bug, api, commcare hq

#237 Renamed apps on HQ
  Features/CaseSearch/user_inputs/casesearch_user_inputs.py
  Features/MultiSelect/user_inputs/multiselect_user_inputs.py
Labels: USH

#238 QA-5212 added pop-up accept step in the method form_builder_exploration
  HQSmokeTests/testPages/applications/application_page.py
Labels: script error fix/bug, smoke, commcare hq, app preview, Global Tech

#239 updated selenium versions for case search and multiselect testsuites
  Features/CaseSearch/requires.txt
  Features/MultiSelect/requires.txt
Labels: case search, features, multiselect

#240 [QA-5100] Case tiles and multiselect
  Features/CaseSearch/constants.py
  Features/CaseSearch/test_cases/test_02_casesearch_configs.py
  Features/MultiSelect/test_cases/test_01_multi_select.py
  Features/MultiSelect/test_pages/multiselect_page.py
  Features/MultiSelect/user_inputs/multiselect_user_inputs.py
Labels: USH, case search, multiselect

#241 Create casesearch-split-screen-tests.yml
  .github/workflows/casesearch-split-screen-tests.yml
Labels: USH, case search

#243 QA-5269 updated bs app url and fixed failures of export testcases
  HQSmokeTests/testCases/test_02_users.py
  HQSmokeTests/testPages/android/android_screen.py
  HQSmokeTests/testPages/data/export_data_page.py
  HQSmokeTests/testPages/data/manage_forms_page.py
  HQSmokeTests/testPages/users/mobile_workers_page.py
Labels: script error fix/bug, mobile, smoke, commcare hq, app preview, Global Tech

#247 Create bha-tests.yml
  .github/workflows/bha-tests.yml
Labels: USH

#246 [QA-4970] Automated Smoke Tests for BHA
  .github/workflows/bha-tests.yml
  .gitignore
  Features/CaseSearch/constants.py
  Features/CaseSearch/test_cases/test_02_casesearch_configs.py
  Features/CaseSearch/test_cases/test_04_casesearch_fuzzy_search.py
  Features/CaseSearch/test_pages/casesearch_page.py
  Features/CaseSearch/user_inputs/casesearch_user_inputs.py
  USH_Apps/CO_BHA/README.md
  USH_Apps/CO_BHA/__init__.py
  USH_Apps/CO_BHA/requires.txt
  USH_Apps/CO_BHA/settings-sample.cfg
  USH_Apps/CO_BHA/test_cases/__init__.py
  USH_Apps/CO_BHA/test_cases/conftest.py
  USH_Apps/CO_BHA/test_cases/test_01_admit_client_and_locks.py
  USH_Apps/CO_BHA/test_cases/test_02_discharge_client.py
  USH_Apps/CO_BHA/test_cases/test_03_user_management.py
  USH_Apps/CO_BHA/test_pages/__init__.py
  USH_Apps/CO_BHA/test_pages/bha_app_pages.py
  USH_Apps/CO_BHA/user_inputs/__init__.py
  USH_Apps/CO_BHA/user_inputs/bha_user_inputs.py
  common_utilities/fixtures.py
  common_utilities/selenium/webapps.py
Labels: USH

#248 QA-5311 updated the email ID for web user invitation
  HQSmokeTests/userInputs/user_inputs.py
Labels: script error fix/bug, smoke, commcare hq, Global Tech
