Repository dimagi/dimagi-qa, pull requests merged in 2023-04, with the labels that each got.

#210 [QA-206] Multi Select Script Fixes
  .github/workflows/multi-select-tests.yml
  Features/MultiSelect/test_cases/test_01_multi_select.py
  Features/MultiSelect/test_cases/test_02_multi_auto_select.py
  Features/MultiSelect/test_pages/multiselect_page.py
  Features/MultiSelect/user_inputs/multiselect_user_inputs.py
Labels: USH

#211 Uncommented some case search test cases
  Features/CaseSearch/test_cases/test_03_casesearch_misc.py
  Features/CaseSearch/test_cases/test_07_casesearch_data_registry.py
Labels: USH, case search

#212 Handled an expected error in case search scripts
  Features/CaseSearch/test_cases/test_07_casesearch_data_registry.py
Labels: USH, case search

#213 [QA-4853] Added test case for old case search input instance
  Features/CaseSearch/test_cases/test_05_casesearch_inline_search.py
  Features/CaseSearch/user_inputs/casesearch_user_inputs.py
Labels: USH, case search

#214 QA-4981 Fixes for test_case_29_import_cases, test_case_44_create_cond_alert and test_case_46_keyword_creation
  HQSmokeTests/testCases/test_09_messaging.py
  HQSmokeTests/testPages/android/android_screen.py
  HQSmokeTests/testPages/data/import_cases_page.py
  HQSmokeTests/testPages/messaging/messaging_page.py
  HQSmokeTests/testPages/users/mobile_workers_page.py
Labels: script error fix/bug, smoke, commcare hq, Global Tech

#215 QA-4981 added try-exception for test case 44
  HQSmokeTests/testPages/messaging/messaging_page.py
Labels: script error fix/bug, smoke, commcare hq, Global Tech

#218 QA-5012 fix for testcase 43
  HQSmokeTests/testPages/messaging/messaging_page.py
Labels: script error fix/bug, smoke, commcare hq, Global Tech

#222 [QA-4853] Expanded upon case search test cases
  .github/workflows/case-search-tests.yml
  Features/CaseSearch/test_cases/test_02_casesearch_configs.py
  Features/CaseSearch/test_cases/test_03_casesearch_misc.py
  Features/CaseSearch/test_cases/test_07_casesearch_data_registry.py
  Features/CaseSearch/test_pages/casesearch_page.py
  Features/CaseSearch/user_inputs/casesearch_user_inputs.py
Labels: USH, case search

#224 Tiny fix for a failing test case
  Features/CaseSearch/test_cases/test_02_casesearch_configs.py
Labels: USH, case search

#225 Multiselect test step updates
  Features/MultiSelect/test_cases/test_01_multi_select.py
  Features/MultiSelect/user_inputs/multiselect_user_inputs.py
Labels: USH, case search
