Repository dimagi/dimagi-qa, pull requests merged in 2023-05, with the labels that each got.

#223 Qa 5057 script fix fix for test case 38 create new build deploy to mobile
  HQSmokeTests/testPages/applications/application_page.py
Labels: script error fix/bug, smoke, commcare hq, Global Tech

#226 Updates to case search scripts
  Features/CaseSearch/test_cases/test_04_casesearch_fuzzy_search.py
  Features/CaseSearch/test_pages/casesearch_page.py
Labels: USH, case search

#227 [QA-5018] Added test cases for navigation to single select menu
  Features/CaseSearch/constants.py
  Features/CaseSearch/test_pages/casesearch_page.py
  Features/MultiSelect/test_cases/test_01_multi_select.py
  Features/MultiSelect/user_inputs/multiselect_user_inputs.py
Labels: USH, multiselect

#231 QA-5025 [Script Fix] Reuse of mobile workers in every run
  HQSmokeTests/testCases/test_02_users.py
  HQSmokeTests/userInputs/user_inputs.py
Labels: script error fix/bug, smoke, commcare hq, Global Tech

#232 [QA-4993] Updated the references due to HTML changes
  Features/CaseSearch/test_cases/test_02_casesearch_configs.py
  Features/CaseSearch/test_pages/casesearch_page.py
Labels: USH, case search

#233 QA-5153 fixed data menu navigation for exports and data testcases
  HQSmokeTests/testCases/test_03_exports.py
  HQSmokeTests/testCases/test_04_integration_exports.py
  HQSmokeTests/testCases/test_06_data.py
  HQSmokeTests/testPages/data/export_data_page.py
  HQSmokeTests/testPages/home/home_page.py
Labels: script error fix/bug, smoke, commcare hq, Global Tech
