Repository dimagi/dimagi-qa, pull requests merged in 2023-09, with the labels that each got.

#274 Added missing py lib
  Features/CaseSearch/requires.txt
  Features/SplitScreenCaseSearch/requires.txt
  USH_Apps/CO_BHA/requires.txt
Labels: script error fix/bug, USH

#275 Added missing requests lib to MS Scripts
  Features/MultiSelect/requires.txt
Labels: script error fix/bug, USH

#254 QA-5281 added testcase for copy cases
  HQSmokeTests/testCases/test_06_data.py
  HQSmokeTests/testPages/data/copy_cases_page.py
  HQSmokeTests/userInputs/user_inputs.py
Labels: smoke, commcare hq, Global Tech

#278 QA-5625 fix for testcases 75, 76 and 60
  .github/workflows/hq-smoke-tests.yml
  .github/workflows/request_api.yml
  HQSmokeTests/testCases/test_02_users.py
  HQSmokeTests/testCases/test_04_integration_exports.py
  HQSmokeTests/testCases/test_05_roles.py
  HQSmokeTests/testCases/test_06_data.py
  HQSmokeTests/testPages/data/export_data_page.py
  HQSmokeTests/testPages/data/manage_forms_page.py
  HQSmokeTests/testPages/home/home_page.py
  HQSmokeTests/testPages/messaging/messaging_page.py
  HQSmokeTests/testPages/reports/report_page.py
  HQSmokeTests/testPages/users/mobile_workers_page.py
  HQSmokeTests/testPages/users/roles_permissions_page.py
  HQSmokeTests/userInputs/user_inputs.py
Labels: script error fix/bug, smoke, commcare hq, Global Tech

#277 QA-4874 added 3 new testcases
  HQSmokeTests/testCases/test_09_messaging.py
  HQSmokeTests/testCases/test_10_p1_p2_defects.py
  HQSmokeTests/testPages/data/export_data_page.py
  HQSmokeTests/testPages/data/import_cases_page.py
  HQSmokeTests/testPages/data/reassign_cases_page.py
  HQSmokeTests/testPages/messaging/messaging_page.py
  HQSmokeTests/testPages/project_settings/__init__.py
  HQSmokeTests/testPages/project_settings/repeaters_page.py
  HQSmokeTests/userInputs/test_data/import_parent_child_case.xlsx
  HQSmokeTests/userInputs/user_inputs.py
Labels: smoke, commcare hq, Global Tech
