Repository dimagi/dimagi-qa, pull requests merged in 2023-08, with the labels that each got.

#258 QA-5470 Updated data dictionary link locator
  HQSmokeTests/testPages/data/data_dictionary_page.py
Labels: script error fix/bug, smoke, commcare hq, Global Tech

#260 [QA-4970] Updates to BHA Script - #2
  USH_Apps/CO_BHA/settings-sample.cfg
  USH_Apps/CO_BHA/test_cases/conftest.py
  USH_Apps/CO_BHA/test_cases/test_01_admit_client_and_locks.py
  USH_Apps/CO_BHA/test_cases/test_02_discharge_client.py
  USH_Apps/CO_BHA/test_cases/test_03_user_management.py
  USH_Apps/CO_BHA/test_cases/test_04_conditional_alert_triggers.py
Labels: USH, BHA

#261 [QA-4970] Updates to BHA Script - #3
  .github/workflows/bha-tests.yml
  USH_Apps/CO_BHA/test_cases/conftest.py
Labels: USH, BHA

#262 [QA-4970] Updates to BHA Script - #4
  USH_Apps/CO_BHA/test_cases/test_04_conditional_alert_triggers.py
Labels: USH, BHA

#265 [QA-5514] Updates to Multi Select Scripts
  Features/CaseSearch/user_inputs/casesearch_user_inputs.py
  Features/MultiSelect/test_cases/test_01_multi_select.py
Labels: USH, multiselect

#266 [QA-4970] Updates to BHA Script - #6
  HQSmokeTests/testPages/reports/report_page.py
  common_utilities/selenium/webapps.py
Labels: USH, BHA

#268 Removed assert for search again
  Features/SplitScreenCaseSearch/test_cases/test_01_casesearch_workflows.py
  Features/SplitScreenCaseSearch/test_cases/test_02_casesearch_configs.py
  Features/SplitScreenCaseSearch/test_cases/test_03_casesearch_misc.py
  Features/SplitScreenCaseSearch/test_cases/test_04_casesearch_fuzzy_search.py
  Features/SplitScreenCaseSearch/test_cases/test_05_casesearch_inline_search.py
  Features/SplitScreenCaseSearch/test_cases/test_06_casesearch_multi_select.py
  Features/SplitScreenCaseSearch/test_cases/test_07_casesearch_data_registry.py
  common_utilities/selenium/webapps.py
Labels: USH, case search

#269 Handled errors
  Features/MultiSelect/test_cases/test_01_multi_select.py
  USH_Apps/CO_BHA/test_cases/test_01_admit_client_and_locks.py
  USH_Apps/CO_BHA/test_cases/test_02_discharge_client.py
  USH_Apps/CO_BHA/test_cases/test_03_user_management.py
  common_utilities/selenium/webapps.py
Labels: USH

#270 Removed assert
  Features/MultiSelect/test_cases/test_01_multi_select.py
  common_utilities/selenium/webapps.py
Labels: USH

#271 Minor updates to the scripts
  USH_Apps/CO_BHA/test_cases/test_04_conditional_alert_triggers.py
  common_utilities/selenium/webapps.py
Labels: USH
