Repository dimagi/dimagi-qa, pull requests merged in 2023-03, with the labels that each got.

#200 updated browserstack app url
  HQSmokeTests/testPages/android/android_screen.py
Labels: script error fix/bug, smoke, commcare hq, Global Tech

#201 [QA-4895] Updates to Case Search Scripts to Address Failures
  Features/CaseSearch/test_cases/test_01_casesearch_workflows.py
  Features/CaseSearch/test_cases/test_02_casesearch_configs.py
  Features/CaseSearch/test_cases/test_03_casesearch_misc.py
  Features/CaseSearch/test_pages/casesearch_page.py
  Features/CaseSearch/user_inputs/casesearch_user_inputs.py
  common_utilities/selenium/base_page.py
  common_utilities/selenium/webapps.py
Labels: USH, case search

#202 Update casesearch plus multiselect test
  Features/CaseSearch/test_pages/casesearch_page.py
Labels: USH, case search

#206 QA-4891 removed conditions to send out success emails for hq smoke tests
  .github/workflows/hq-smoke-tests.yml
Labels: smoke, commcare hq, Global Tech

#207 QA-4891 removed conditions to send out success emails for request api tests
  .github/workflows/request_api.yml
Labels: api, commcare hq, Global Tech

#208 QA-4913 updated locator failing testcase 30
  HQSmokeTests/testPages/data/reassign_cases_page.py
Labels: script error fix/bug, smoke, commcare hq, Global Tech
