Repository dimagi/dimagi-qa, pull requests merged in 2024-04, with the labels that each got.

#317 adding the locust scripts
  LocustScripts/.gitignore
  LocustScripts/README.md
  LocustScripts/commcarehq-bed-avail.py
  LocustScripts/commcarehq-bed-track.py
  LocustScripts/project-config/bha-bed-tracking-perf/app_config.json
  LocustScripts/project-config/bha-bed-tracking-perf/config.yaml
  LocustScripts/project-config/bha-bed-tracking-perf/user_credentials.json
  LocustScripts/requirements.txt
Labels: new change/enhancement, USH, BHA

#319 Improve logging to Bed Track Script
  LocustScripts/commcarehq-bed-track.py
Labels: USH

#320 QA-6354 added step for loading popup
  HQSmokeTests/testCases/test_10_p1_p2_defects.py
  HQSmokeTests/testPages/applications/app_preview.py
  HQSmokeTests/testPages/messaging/messaging_page.py
  HQSmokeTests/testPages/users/group_page.py
Labels: script error fix/bug, smoke, commcare hq, Global Tech
